*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

}

.header{
    &__container{

    }

   
}

.nav{
    &__list{

    }

    &__item{

    }

    &__link{
        
    }
}